@model List<Granny>;

<div class="row">
    <div class="col-md-5">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Hourly Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Granny g in Model)
                {
                    <tr>

                        <td>@g.FirstName</td>
                        <td>@g.LastName</td>
                        <td>@g.Age</td>
                        <td>@g.HourlyRate</td>
                        <td><input class="btn btn-primary" asp-action="BookGranny" asp-route-id="@g.ID" /></td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>